#story {
  background-image: url(../images/wine1.jpg);
  background-position: top;

  padding-top: 125px;
}
#story h1 {
  font-size: 25vh;
}

#chefs {
  padding-bottom: 0;
}
#chefs img {
  width: 80%;
  transition: ease-in-out 0.35s;
}

#location iframe {
  height: 70vh;
  width: 100%;
}

#interior img {
  height: 50vh;
  object-fit: contain;
}

#interior span {
  margin-right: -10vw;
  background-color: var(--bg);
}
