#story {
  background-image: url(../images/wine1.jpg);
  background-position: top;
  height: 85vh;
  padding-top: 120px;
  overflow-y: hidden;
}

#chefs {
  padding-bottom: 0;
}
#chefs img {
  width: 80%;
}

#location iframe {
  height: 70vh;
  width: 100%;
}

#interior img {
  height: 50vh;
  object-fit: contain;
}

#interior span {
  margin-right: -10vw;
  background-color: var(--bg);
}

#location iframe {
  height: 100%;
}
#location .row {
  height: 50vh;
}

#details i {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}
#details .col-12:hover a,
#details .col-12:hover i {
  color: var(--primary-light);
}
#details a {
  color: #aaa;
}
table {
  opacity: 0.8;
  border-radius: 1rem;
}
.table > :not(caption) > * > * {
  padding: 1rem;
  background-color: rgba(34, 34, 34, 0.5);
}

#hours {
  padding: 0;
}
