@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Italianno&family=Prompt:wght@300;400&display=swap");

/* VARIABLES */
:root {
  --bg: #222;
  --bg-light: #2d2d2d;

  --primary-light: rgb(180, 160, 100);
  --primary-dark: rgba(161, 142, 76, 0.5);

  --secondary-light: rgb(133, 146, 158);
  --secondary-dark: rgba(0, 39, 63, 0.5);

  --text: #f5f5f5;
}
html {
  scroll-behavior: smooth;
}
/* BODY */
body {
  background-color: var(--bg);
  font-family: "prompt", sans-serif;
  color: var(--text);
}

/* Anchor */
a {
  text-decoration: none;
  color: var(--primary-light);
}
a:hover {
  opacity: 0.9;
  color: var(--primary-light);
}

/* Buttons */
.btn-primary {
  color: var(--bg);
  background-color: var(--primary-light);
  border-color: var(--primary-light);
}
.btn-primary:hover {
  color: var(--bg);
  background-color: var(--primary-light);
  border-color: var(--primary-light);
  opacity: 0.9;
}
.btn-check:focus + .btn-primary,
.btn-primary:focus {
  color: var(--bg);
  background-color: var(--primary-light);
  border-color: var(--primary-light);
  box-shadow: 0 0 0 0.25rem var(--primary-dark);
}
.btn-check:active + .btn-primary,
.btn-check:checked + .btn-primary,
.btn-primary.active,
.btn-primary:active,
.show > .btn-primary.dropdown-toggle {
  color: var(--bg);
  background-color: var(--primary-light);
  border-color: var(--primary-light);
}
.btn-check:active + .btn-primary:focus,
.btn-check:checked + .btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem var(--primary-dark);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: var(--bg);
  background-color: var(--primary-light);
  border-color: var(--primary-light);
  opacity: 0.5;
}

.btn-outline-primary {
  color: var(--primary-light);
  border-color: var(--primary-light);
}
.btn-outline-primary:hover {
  color: var(--bg);
  background-color: var(--primary-light);
  border-color: var(--primary-light);
}
.btn-check:focus + .btn-outline-primary,
.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.25rem var(--primary-dark);
}
.btn-check:active + .btn-outline-primary,
.btn-check:checked + .btn-outline-primary,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show,
.btn-outline-primary:active {
  color: var(--bg);
  background-color: var(--primary-light);
  border-color: var(--primary-light);
}
.btn-check:active + .btn-outline-primary:focus,
.btn-check:checked + .btn-outline-primary:focus,
.btn-outline-primary.active:focus,
.btn-outline-primary.dropdown-toggle.show:focus,
.btn-outline-primary:active:focus {
  box-shadow: 0 0 0 0.25rem var(--primary-dark);
}
.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color: var(--primary-light);
  background-color: transparent;
  opacity: 0.5;
}

/* Headings */
h1 {
  font-family: "Italianno", cursive;
  font-size: calc(1.8rem + 6vw);
  white-space: nowrap;
}
h2 {
  opacity: 0.85;
}
h4 {
  opacity: 0.7;
}
h5,
label {
  opacity: 0.6;
}
h6 {
  opacity: 0.4;
}
p {
  opacity: 0.34;
}
.gold {
  color: var(--primary-light);
  opacity: 0.7;
}
.nowrap {
  white-space: nowrap;
}

/* SECTION */
section {
  width: 100%;
  padding: 13vh 0;
  overflow-x: hidden;
}

section:nth-of-type(odd) {
  background-color: var(--bg-light);
}

/* NAVBAR */
.nav-item {
  margin: 0 12px;
}
.nav-link {
  position: relative;
  white-space: nowrap;
}
.nav-link:hover {
  opacity: 1;
}
.nav-link:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-light);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}
.nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.navbar-brand img {
  height: 2.5rem;
  filter: invert(1);
}

/* Auth */
.offcanvas {
  background-color: var(--bg);
  color: var(--text);
  width: 450px;
}
.sign-in-with {
  padding: 5px 10px;
  opacity: 0.8;
  background-color: var(--primary-light);
}

/* Icons */
.social-media a {
  color: var(--text);
  opacity: 0.5;
}
.social-media a:hover {
  opacity: 1;
}
.social-media i {
  font-size: 1.1rem;
  margin-right: 1rem;
  margin-left: 0.5rem;
}

/* divider */
.divider {
  overflow: hidden;
}

/* Form control */
.form-control {
  background-color: transparent;
  color: var(--text);
  border-color: var(--text);
}
.form-control:focus {
  background-color: transparent;
  color: var(--text);
  box-shadow: none;
  border-color: grey;
}

/* everything below lg */
@media (max-width: 992px) {
  .bg-blur {
    background-color: rgba(34, 34, 34, 0.6);
    padding: 0 20px;
    border-radius: 1rem;
  }
  .social-media {
    background-color: rgba(34, 34, 34, 0.6);
    padding: 0 20px;
    border-radius: 1rem;
  }
}
