/* HOME */
#home {
  background: url(../images/bg-fork.jpg) no-repeat;
  background-size: cover;
  background-position: 85%;
  padding: 0;
  padding-top: 18vh;

  /* height: 95vh; */
}
/* #home .row:nth-of-type(1) {
  height: 75vh;
} */
#home h6 {
  color: var(--primary-light);
  opacity: 0.8;
}
/* everything below lg */
@media (max-width: 992px) {
  #home {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../images/bg-fork.jpg) no-repeat;
    background-size: cover;
    background-position: 85%;
  }
  .social-media a {
    opacity: 1;
  }
}

/* MENU */
#menu .row {
  padding: 5vh 0;
}
#menu .row:nth-child(even) {
  flex-direction: row-reverse !important;
}
#menu .row a {
  color: var(--secondary-light);
}
#menu .row:hover a {
  color: var(--primary-light);
}
#menu img {
  width: 72%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;

  transform: scale(0.9);
  transition: ease-out 500ms;
  transition-delay: 0ms;
}
#menu a {
  padding-bottom: 10vh;
}
#menu .row:nth-child(even) img {
  box-shadow: -20vh 0px 0px 30px var(--secondary-dark);
}
#menu .row:nth-child(odd) img {
  box-shadow: 20vh 0px 0px 30px var(--secondary-dark);
}
#menu .row:nth-child(even):hover img {
  box-shadow: 20vh 0px 0px 30px var(--primary-dark);
}
#menu .row:nth-child(odd):hover img {
  box-shadow: -20vh 0px 0px 30px var(--primary-dark);
}
#menu .row:hover img {
  transform: scale(1);
  transition: ease-in 500ms;
  transition-delay: 0ms;
}

/* ONLINE ORDER */
#order img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
}

/* REVIEW */
.blockquote-custom {
  position: relative;
  background-color: var(--bg-light);
}

.blockquote-custom-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -25px;
  left: 50px;
  background-color: var(--text);
}

.restaurant-divider {
  background: url(../images/bg-table.jpg) center fixed;
  background-size: cover;
  height: 60vh;
}

.video {
  padding: 0;
}
video {
  height: 70vh;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
}

/* RESERVATION */
#reservation {
  padding-bottom: 20vh;
}
#reservation input:not(.btn),
.form-select {
  border: 1px solid var(--primary-dark);
  background-color: var(--bg);
}
#reservation .form-select {
  background-color: var(--bg);
  color: var(--text);
}

/* Input number arrows */
/* Chrome, Safari, Edge, Opera */
#reservation input::-webkit-calendar-picker-indicator {
  filter: invert(0.3);
}
#reservation input::-webkit-outer-spin-button,
#reservation input::-webkit-inner-spin-button {
  opacity: 0.2;
}

/* #reservation .ot-button {
  display: none;
} */
/* @media (max-width: 902px) {
  #reservation .ot-wide {
    display: none;
  }
  #reservation .ot-button {
    display: initial;
  }
} */

/* Contact */
#contact {
  padding-bottom: 20vh;
}

/* About us divider */
#about-divider img {
  height: 75vh;
  object-fit: cover;
}

/* About Us */
#about {
  padding-bottom: 0;
}

/* review */
#reviews blockquote p {
  font-size: 1rem;
}
.show-reviews-text a {
  display: none;
  color: var(--secondary-light);
}

@media (max-width: 468px) {
  .blockquote-custom {
    display: none;
  }
  .show-reviews-text a {
    display: initial;
  }
}

/* Interior */
#interior img{
  height: 50vh;
  width: 100%;
  object-fit: cover;
  margin-top: -5vh;
  filter: grayscale(0.9);
}
/* #interior img:hover{
  filter: grayscale(0);
  transition: 500ms ease-in-out;
  transform: scale(1.03);
} */
#interior img.active{
  filter: grayscale(0);
  transition: 500ms ease;
  transform: scale(1.03);
}

#interior img:nth-of-type(even) {
  clip-path: polygon(0 25%, 90% 0, 90% 100%, 0 75%);
}
#interior img:nth-of-type(odd) {
  clip-path: polygon(10% 0, 100% 25%, 100% 75%, 10% 100%);
}

#reservation{
  overflow: hidden;
  position: relative;
}