/* MENU PAGE */
section {
	&:nth-of-type(odd) {
		background-color: transparent;
	}
}
main {
	section {
		padding: 0;
		padding-bottom: 100px;
	}
}
#menu {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/bg-menu.jpg);
	background-position: center;
	padding: 100px 0 1rem 0;
	button {
		padding: 0.5rem 3rem;
		margin: 1rem 0rem;
		width: 10rem;
	}
	.nav-link {
		color: var(--primary-light);
		border: 1px solid var(--primary-light);
		background-color: rgba(34, 34, 34, 0.7);
		&::after {
			content: none;
		}
		&:hover {
			color: var(--bg);
			background-color: var(--primary-light);
			opacity: 1;
		}
	}
	.active {
		color: var(--bg);
		background-color: var(--primary-light);
	}
}
.card {
	background-color: var(--bg);
	border: 1px solid var(--primary-dark);
	overflow: hidden;
	&:hover {
		border-color: var(--primary-light);
		.price {
			opacity: 0.9;
		}
		.card-cart {
			opacity: 1;
			transition: 0.3s ease-in-out;
		}
	}
	img {
		aspect-ratio: 1/1;
		object-fit: cover;
	}
	.card-text {
		height: 2.5rem;
	}
	p {
		font-size: 0.8rem;
	}
}
.card-title {
	opacity: 1;
}
.card-body {
	.btn {
		float: right;
	}
	.price {
		display: inline-flex;
		margin-top: 0.5rem;
	}
}
.card-cart {
	opacity: 0;
}
@media (max-width: 992px) {
	.card-cart {
		opacity: 1;
	}
}
