/* RESERVATION */
#reservation {
  padding: 120px 0 0 0;
  overflow: hidden;
  position: relative;
  min-height: 100vh;
}
#reservation input:not(.btn),
.form-select {
  border: 1px solid var(--primary-dark);
  background-color: var(--bg);
}
#reservation .form-select {
  background-color: var(--bg);
  color: var(--text);
}

/* Input number arrows */
/* Chrome, Safari, Edge, Opera */
#reservation input::-webkit-calendar-picker-indicator {
  filter: invert(0.3);
}
#reservation input::-webkit-outer-spin-button,
#reservation input::-webkit-inner-spin-button {
  opacity: 0.2;
}
