.input-group-text {
  background-color: transparent;
  border: 1px solid #aaa;
  height: 2rem;
}
.input-group-text:hover {
  background-color: #444;
}
.input-group-text i {
  color: #aaa;
}
.input-group {
  width: 25%;
}
@media only screen and (max-width: 991px) {
  .input-group {
    width: 50%;
  }
}
@media only screen and (max-width: 768px) {
  .input-group {
    width: 70%;
  }
}

.form-control,
.form-select {
  height: 2rem;
  border-color: #aaa;
}
.form-select::after {
  color: white;
}
.form-select select {
  background-color: transparent;
  color: var(--text);
}
form {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

/* MENU */
.item-cat {
  /* background-color: var(--bg); */
  backdrop-filter: brightness(0.3);
  border-radius: 0.5rem;
  border: 1px solid var(--primary-dark);
  opacity: 1;
  color: #aaa;
  width: min-content;
  padding: 0.25rem 0.5rem;
  text-transform: capitalize;
}
.card:hover .item-cat {
  border: 1px solid var(--primary-light);
  color: var(--text);
}
.card-img-overlay {
  height: 100px;
}
.card-body i {
  padding-top: 0.5rem;
}
.card .btn {
  padding-top: 0;
  padding-bottom: 0.25rem;
}

.img-edit {
  object-fit: cover;
  max-width: 100%;
  max-height: 75vh;
  aspect-ratio: 1/1;

  box-shadow: 20vh 0px 0px 30px var(--secondary-dark);
}

input[type="file"] {
  background-color: transparent;
  height: initial;
  padding-top: 2px;
  padding-bottom: 2px;
}

.card-link {
  color: var(--text);
}
.card-link:hover {
  color: var(--text);
}
